output/checkpoint/*.model filter=lfs diff=lfs merge=lfs -text
output/checkpoint/NanoBind_site(esm2_t6_8M_UR50D)_SabdabData_finetune1_TF0_good.model filter=lfs diff=lfs merge=lfs -text
output/checkpoint/NanoBind_pro(esm2_t6_8M_UR50D)_SabdabData_finetune1_TF0_good.model filter=lfs diff=lfs merge=lfs -text
